<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lucky Find</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/simple-datatables/style.css}" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!-- Template Main CSS File -->
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{fragment/headerFragment::headerFragment}">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{fragment/sidebarFragment::sidebarFragment}">
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Chat</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="accordion mb-3" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        채팅서비스 소개
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>모든 회원들간의 채팅 서비스입니다.</strong> <br>
                        회원들간의 의견공유를 위한 채팅방과 더불어, 현재 진행하고있는 프로젝트 팀원들간의 채팅 서비스도 제공합니다.
                    </div>
                </div>
            </div>
        </div><!-- End Default Accordion Example -->

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body pb-0 mb-3">
                        <h5 class="card-title">All Chat |
                            <a data-bs-toggle="modal" data-bs-target="#createChatModal" href="javascript:void(0);"><span
                                    class="badge rounded-pill bg-success text-white">+</span></a>
                        </h5>

                        <div class="news" id="allChatList">
                            <div class="post-item clearfix">
                                <img src="assets/img/news-1.jpg" alt="">
                                <h4><a onclick="openChat()" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                       href="javascript:void(0);">Lucky Find</a></h4>
                                <p>Lucky Find 문의 [24H]</p>
                            </div>
                        </div><!-- End sidebar recent posts-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body pb-0 mb-3">
                        <h5 class="card-title">Project Chat |
                        </h5>
                        <div class="news" id="teamChatList">
                            <div class="post-item clearfix">
                                <img src="assets/img/news-1.jpg" alt="">
                                <h4><a onclick="openChat()" data-bs-toggle="modal" data-bs-target="#confirmModal"
                                       href="javascript:void(0);">Lucky Find 커뮤니티</a></h4>
                                <p>Lucky Find 프로젝트 팀원들간의 채팅방</p>
                            </div>
                        </div><!-- End sidebar recent posts-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal" id="confirmModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span id="chatTitleModal">채팅방에 참여하시겠습니까?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" onclick="connect()" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#chatModal"
                            class="btn btn-primary">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Disabled Animation Modal-->

    <div class="modal fade" id="chatModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chat Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="disconnect()"></button>
                </div>
                <div class="modal-body" id="messageArea" style="height: 100%">

                </div>
                <div class="modal-footer">
                    <input type="text" id="message" placeholder="Type a message..."
                           autocomplete="off" class="form-control"/>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="disconnect()">
                        나가기
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="sendMessage()">
                        보내기
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Scrolling Modal-->

    <div class="modal fade" id="createChatModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Basic Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="chatType" aria-label="Floating label select example">
                            <option selected="">채팅종류</option>
                            <option value="ALL">전체회원</option>
                            <option value="TEAM">프로젝트용</option>
                        </select>
                        <label for="chatType">Works with selects</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" placeholder="Leave a title here">
                        <label for="title">제목 [전체 채팅방은 최대 한개만 개설가능합니다.]</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="resnContents"
                                  style="height: 100px;"></textarea>
                        <label for="resnContents">생성 사유 [ 부적절한 사유일경우 삭제 처리 됩니다.] </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="createChat()">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Basic Modal-->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{fragment/footerFragment::footerFragment}">
</footer><!-- End Footer -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script th:src="@{assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

</body>

<script th:inline="javascript">

    var stompClient = null;
    var chatId = "";

    $(document).ready(function(){
        getChatList()
        // getUserInfo()
    })

    function connect(id, title) {
        chatId = id;
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(){

            stompClient.subscribe('/topic/public/' + chatId, onMessageReceived);

            // Tell your username to the server
            stompClient.send("/app/chat.addUser/" + chatId,
                {},
                JSON.stringify({type: 'JOIN'})
            )

        }, onError);
    }

    // 채팅방 나가기
    function disconnect() {
        // disconnect
        stompClient.send("/app/chat.leaveUser/" + chatId,
            {},
            JSON.stringify({type: 'LEAVE'})
        )

        stompClient.disconnect()
    }



    function onError(error) {
    }


    function sendMessage() {
        var messageContent = $("#message").val().trim();
        if (messageContent && stompClient) {
            var chatMessage = {
                content: $("#message").val(),
                type: 'CHAT'
            };
            stompClient.send("/app/chat.sendMessage/" + chatId, {}, JSON.stringify(chatMessage));
            $("#message").val('');
        }
    }


    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);

        if (message.type === 'JOIN') {
            let joinHtml = `
              <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        ${message.sender} joined!
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
             </div>
              `
            $("#messageArea").append(joinHtml)
        } else if (message.type === 'LEAVE') {
            let leaveHtml = `
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <div class="alert border-primary alert-dismissible fade show" role="alert">
                            ${message.sender} leaved!
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>`
            $("#messageArea").append(leaveHtml)
        } else if (message.type === 'CHAT') {
            let messageText = "";
            if (message.sender == $("#usernameTop").text()) {
                messageText = `
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                        <div class="alert border-primary alert-dismissible fade show" role="alert">
                            <span class="badge bg-secondary">${message.sender}</span> ${message.content}
                        </div>
                    </div>
                </div>`
            } else {
                messageText = `
                <div class="row">
                    <div class="col-lg-6">
                        <div class="alert border-primary alert-dismissible fade show" role="alert">
                            <span class="badge bg-secondary">${message.sender}</span> ${message.content}
                        </div>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>`
            }
            $("#messageArea").append(messageText)
        }
    }

    function openChat(title) {
        $("#chatTitleModal").text(title + "에 참가하시겠습니까?")
    }

    function createChat() {
        let request = {
            "title": $("#title").val(),
            "resnContents" : $("#resnContents").val(),
            "chatType" : $("#chatType").val()
        }

        $.ajax({
            type: "POST",
            url: "/api/v1/chat",
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (result) {
            $("#no").val(result.id);
            getChatList()
        })
    }

    function getChatList() {
        $.ajax({
            type: "GET",
            url: "/api/v1/chat/all",
        }).done(function (result) {
            makeChatList(result)
        })
    }

    function makeChatList(data) {
        let teamList = '';
        let allList = '';
        data.forEach(row => {

            if(row.chatType === "ALL") {
                allList +=
                    `
                            <div class="post-item clearfix">
                                <img src="assets/img/news-1.jpg" alt="">
                                <h4><a onclick="connect('${row.id}','${row.title}')" data-bs-toggle="modal"
                            data-bs-target="#chatModal"
                                       href="javascript:void(0);">${row.title}</a></h4>
                                <p>Lucky Find 프로젝트 팀원들간의 채팅방</p>
                            </div>

                    `
            }else if(row.chatType === "TEAM") {
                teamList +=
                    `
                    <div class="post-item clearfix">
                                <img src="assets/img/news-1.jpg" alt="">
                                <h4><a onclick="connect('${row.id}','${row.title}')" data-bs-toggle="modal"
                            data-bs-target="#chatModal"
                                       href="javascript:void(0);">${row.title}</a></h4>
                                <p>Lucky Find 프로젝트 팀원들간의 채팅방</p>
                            </div>

                    `
            }
        })
        $("#allChatList").empty()
        $("#teamChatList").empty()
        $("#allChatList").append(allList)
        $("#teamChatList").append(teamList)

    }
</script>


</html>