<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="~{fragment/headFragment::headFragment}">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{fragment/headerFragment::headerFragment}">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" th:replace="~{fragment/sidebarFragment::sidebarFragment}">
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Notice</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">

        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lucky Find Notice</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">작성일</th>
                                <th scope="col">제목</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row" width="10%">1</td>
                                <td width="20%">2023.11.11</td>
                                <td width="70%"><a class="btn-link">처음으로 개발을 해봤습니다.</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Floating labels Form</h5>
                        <!-- Floating Labels Form -->
                        <form class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="title" placeholder="Title">
                                    <label for="title">Title</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Contents" id="contents"
                                              style="height: 300px;"></textarea>
                                    <label for="contents">Address</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{fragment/footerFragment::footerFragment}">
</footer><!-- End Footer -->

</body>

</html>