<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar"  th:fragment="sidebarFragment">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Main</span>
            </a>
        </li><!-- End Main Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/notice}">
                <i class="ri-sticky-note-line"></i>
                <span>Notice</span>
            </a>
        </li><!-- End Notice Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/recruit}">
                <i class="ri-team-line"></i>
                <span>Recruit</span>
            </a>
        </li><!-- End Recruit Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/chat}">
                <i class="ri-chat-1-line"></i>
                <span>Chat</span>
            </a>
        </li><!-- End Recruit Nav -->

    </ul>

</aside><!-- End Sidebar-->

</body>
</html>