<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Recruit</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor JS Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{assets/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{fragment/headerFragment::headerFragment}">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{fragment/sidebarFragment::sidebarFragment}">
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Recruit</h1>
    </div><!-- End Page Title -->

    <div class="modal" id="submitConfirmModal" tabindex="-2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    등록하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" onclick="addRecruit()" data-bs-dismiss="modal"
                            class="btn btn-primary">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Disabled Animation Modal-->

    <section class="section dashboard">
        <div class="modal fade" id="modalDialogScrollable" tabindex="-1" >
            <div class="modal-dialog modal-dialog-scrollable" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Recruit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3">
                            <div class="col-md-12">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title">
                            </div>
                            <div class="col-md-12">
                                <label for="skill" class="form-label">Skill</label>
                                <select id="skill" class="form-select" aria-label="Default select example">
                                    <option selected>- 선택 -</option>
                                    <option value="JAVA">JAVA</option>
                                    <option value="KOTLIN">KOTLIN</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="status" class="form-label">Status</label>
                                <select id="status" class="form-select" aria-label="Default select example">
                                    <option selected>- 선택 -</option>
                                    <option value="READY">READY</option>
                                    <option value="PROGRESS">PROGRESS</option>
                                    <option value="FINISH">FINISH</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="contents" class="form-label">Contents</label>
                                <textarea class="form-control" id="contents" style="height: 250px;"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="recruitDateFrom" class="form-label">Recruit Date From</label>
                                <input type="date" class="form-control" id="recruitDateFrom">
                            </div>
                            <div class="col-md-6">
                                <label for="recruitDateTo" class="form-label">Recruit Date To</label>
                                <input type="date" class="form-control" id="recruitDateTo">
                            </div>
                        </form><!-- End Multi Columns Form -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="addRecruit()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div><!-- End Modal Dialog Scrollable-->

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bordered Tabs Justified</h5>

                <!-- Scrolling Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#modalDialogScrollable">
                    Create Recruit
                </button>

                <!-- Bordered Tabs Justified -->
                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
                                aria-selected="true">Home
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-justified-profile" type="button" role="tab"
                                aria-controls="profile" aria-selected="false">Profile
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#bordered-justified-contact" type="button" role="tab"
                                aria-controls="contact" aria-selected="false">Contact
                        </button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                    <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Card with an image on left -->
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Lucky Find Project</h5>
                                                <span class="badge rounded-pill bg-primary">JAVA</span>
                                                <span class="badge rounded-pill bg-primary">KOTLIN</span>
                                                <p class="card-text">팀원들간의 프로젝트 서비스 입니다. >_<</p>
                                                <button type="button" class="btn btn-success"><i
                                                        class="bi bi-check-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Card with an image on left -->
                            </div>
                            <div class="col-lg-6">
                                <!-- Card with an image on left -->
                                <div class="card">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Lucky Find Project</h5>
                                                <span class="badge rounded-pill bg-primary">JAVA</span>
                                                <span class="badge rounded-pill bg-primary">KOTLIN</span>
                                                <p class="card-text">팀원들간의 프로젝트 서비스 입니다. >_<</p>
                                                <button type="button" class="btn btn-success"><i
                                                        class="bi bi-check-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- End Card with an image on left -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel"
                         aria-labelledby="profile-tab">
                        Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium
                        distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio
                        similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
                    </div>
                    <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel"
                         aria-labelledby="contact-tab">
                        Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium
                        quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum
                        veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
                    </div>
                </div><!-- End Bordered Tabs Justified -->

            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{fragment/footerFragment::footerFragment}">
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</body>

<script th:inline="javascript">

    $(document).ready(function () {
        // getAllNotice();


    })

    function getNoticeById(id) {
        $.ajax({
            type: "GET",
            url: "/api/v1/notice/" + id,
        }).done(function (result) {
            $("#contents").val(result.contents);
            $("#title").val(result.title);
            $("#no").val(result.id);
        })
    }

    function getAllRecruit() {
        $.ajax({
            type: "GET",
            url: "/api/v1/recruit/all",
        }).done(function (result) {
            console.log(result)
            // tableSetting(result)
        })
    }

    function addRecruit() {

        let request = {
            "title": $("#title").val(),
            "contents": $("#contents").val(),
            "recruitDateFrom" : $("#recruitDateFrom").val(),
            "recruitDateTo" : $("#recruitDateTo").val(),
            "skill" : $("#skill").val(),
            "status" : $("#status").val()
        }

        $.ajax({
            type: "POST",
            url: "/api/v1/recruit",
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (result) {
            console.log(result)
            getAllRecruit()
        })
    }

    function deleteNotice() {

        let id = $("#no").val();

        $.ajax({
            type: "DELETE",
            url: "/api/v1/notice/" + id,
        }).done(function () {
            $("#title").val('');
            $("#contents").val('');
            $("#no").val('');
            getAllNotice()
        })
    }

    function editNotice() {


        let request = {
            "title": $("#title").val(),
            "contents": $("#contents").val()
        }

        let id = $("#no").val()

        $.ajax({
            type: "PUT",
            url: "/api/v1/notice/" + id,
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (result) {
            getAllNotice()
        })

    }

    function tableSetting(data) {

        let innerHtml = '';

        data.forEach(row => {
            innerHtml += '<tr>'
            innerHtml += '<td scope="row" width="10%">' + row.id + '</td>'
            innerHtml += '<td width="20%" ><a class="text-primary" href="javascript:void(0);" onclick="getNoticeById(' + row.id + ')">' + row.title + '</a></td>'
            innerHtml += '<td width="20%" >' + row.createdAt + '</td>'
            innerHtml += '</tr>'

        })
        $('#noticeTable').empty();
        $('#noticeTable').append(innerHtml);
    }


</script>

<script th:src="@{assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

</html>